* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:cornflowerblue;
}

.bg-img {
    background: linear-gradient(to top right, cornflowerblue, #e6f0ff);
    min-height: 100vh;
}


.card.first-column {
    border-color: cornflowerblue !important;
    border-right-style: none !important;
}

.second-column {
    background-color: cornflowerblue !important;
}

@media (max-width: 576px) {
    .card.first-column {
        border-top: none !important;
        border-right-style: solid !important;
    }
    .second-column {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

#converterTitle {
    color: cornflowerblue;
}

#conversionInput select:hover {
    color: cornflowerblue;
    border-color: cornflowerblue;
}

#conversionInput select:focus {
    color: cornflowerblue;
    border-color: cornflowerblue;
    outline: none;
}

#convertButton {
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    background-color: cornflowerblue;
    outline: solid 1.5px black;
    border-radius: 5px;
}

#convertButton:active {
    color: white;
    background-color: rgb(100, 149, 237, .8);
}

#convertedResults {
    opacity: 0.1;
    transition: opacity 0.5s ease-in-out;
}
#convertedResults.show {
    opacity: 1;
}

#convertedDegree {
    font-size: 50px;
}

#degree {
    position: relative;
    top: -4px;
}

#convertedUnit {
    position: relative;
    top: -11px;
    font-size: large;
}

/*I do not take credit for this animation*/
.weather-bg {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.cloud {
    width: 200px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: -200px;
    animation: cloudMove 60s linear infinite;
    box-shadow: 60px 0 #fff, 120px 0 #fff;
    opacity: 0.5;
}

.cloud-2 {
    top: 50%;
    animation-duration: 80s;
    animation-delay: 10s;
    opacity: 0.4;
}

@keyframes cloudMove {
    0% { transform: translateX(0); }
    100% { transform: translateX(150vw); }
}